<script type="text/javascript">
  (function($) {
    $.fn.goTo = function() {
      $('html, body').animate({
        scrollTop: ($(this).offset().top-50) + 'px'
      }, 'fast');
      return this; // for chaining...
    }
  })(jQuery);

  jQuery(document).ready(function(){

    $('#match_imgs').dataTable( {
      "pageLength": 50,
      "searching": false,
      "paging": false,
      "language": {
        "lengthMenu": "Afficher _MENU_ par page",
        "zeroRecords": "Aucun résultat",
        "info": "Page _PAGE_ sur _PAGES_",
        "infoEmpty": "Aucun résultat",
        "infoFiltered": "(sur _MAX_ au total)",
        "search": "Chercher&nbsp;:",
        "paginate": {
          "first":      "Premier",
          "previous":   "Pr&eacute;c&eacute;dent",
          "next":       "Suivant",
          "last":       "Dernier"
        }
      }
    });
  });

</script>
<style>
  .act_tr { background-color:#ccccff; }
</style>
<div class="container">
  <h4>Liste des Matchs</h4>
</div> <!-- /container -->
<% tab_filters = { "tout" => "Toutes", "manual" => "Manuel", "auto" => "Auto", "supp" => "matchs supprimés" } %>
<div class="container-fluid">
  <div class="row" style="padding-top: 50px; padding-left:30px;align: left;">
    <div class="col-md-12 ">
      <div class="table-responsive">
        <%= form_tag paper_matching_images_path, method: 'get', id: 'debut_fin'  do %>
            <div align="left" style="padding-left:20px;">
              <div style="float: left;">
                <% if @debut.to_i > 1 %>
                    <%= hidden_field_tag :debut, @debut %>
                    <%= hidden_field_tag :fin, '0' %>
                    <button style="background-color: darkred; color: white;" onclick="put_fin();"> Fin </button>
                <% else %>
                    <%= hidden_field_tag :debut, '1' %>
                    <%= hidden_field_tag :fin, '0' %>
                    <button style="background-color: darkgreen; color: white;" onclick="this.form.submit();"> Début </button>
                <% end %>
              </div>
              <div style="float: left; padding-left:20px;">
                <%= select_tag "clip", options_for_select(tab_filters.collect{ |k,v| [v, k]}, @filter), :onchange => "this.form.submit();" %>
                <%= select_tag "period", options_from_collection_for_select(@period, "id", "name", @sel_period), include_blank: "Periodicity", :onchange => "this.form.submit();" %>
              </div>
            </div>
        <% end %>
        <%= form_tag paper_matching_images_path, method: 'post', name: 'mi_form', id: 'mi_form'  do %>
            <%= hidden_field_tag :imgs, @imgs %>
            <%= hidden_field_tag :filter, @filter %>
            <%= hidden_field_tag :debut, @debut %>
            <%= hidden_field_tag :fin, @fin %>
            <%= hidden_field_tag :period, @sel_period %>
            <% checktf = (@filter == "supp" || @filter == "auto")? true : false %>
            <div align="right" style="padding-right:20px;">
              <strong><%= @nb_done %></strong> matches traités&nbsp;–&nbsp;<strong><%= @nb_match %></strong> matches restant à traiter&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" id="goto_first" value="déplacement clavier">&nbsp;&nbsp;<button id="okbutton" type="submit" class="btn btn-danger btn-md">Valider</button>
            </div>
            <table class="display table" style="font-size:12px;" id="match_imgs" cellspacing="0" width="100%">
              <thead>
              <tr>
                <th>Scan Page</th>
                <th>Photo</th>
                <th>Clip</th>
                <th>Erreur <input type="checkbox" id="selectAll"></th>
                <th>String Key</th>
                <th>Date</th>
              </tr>
              </thead>
              <tbody>
              <% @mimgs.each do |im| %>
                  <tr>
                    <%# med = im.paper_scanned_page_path.gsub("/mnt/storage/dev","datas") %>
                    <% page = "" %>
                    <% page = im.paper_scanned_page_path.gsub("/mnt/storage","datas.prod") unless im.paper_scanned_page_path.blank? %>
                    <td align="center">
                      <%= "#{pub_id(im.paper_scanned_page_id)} / " %>
                      <%= pub_name(im.paper_scanned_page_id) %>
                      <%= paru_date(im.paper_scanned_page_id) %><br>
                      <img class="zoom" src="<%= page %>" width="500px" data-zoom-image="<%= page %>"/><br>
                      <strong>Page <%= no_page(im.paper_scanned_page_id) %></strong>
                    </td>
                    <% medstyle = get_sk(im.clip_id, im.string_key) %>
                    <% med = im.medium_location.blank? ? "" : im.medium_location.gsub("/mnt/storage/","datas.") %>
                    <td><img src="<%= med %>" width="280" style="<%= medstyle %>"><br><%= "Image 1 sur #{nb_imgs(0, im.clip_id)}" %></td>
                    <td><%= image_tag(image_clip_path(im.clip_id), width: "120px") %><br><%= "Clip 1 sur #{PaperMatchingImage.select(:clip_id).distinct.where(paper_scanned_page_id: im.paper_scanned_page_id).count}" %></td>
                    <td width="80" class="err" align="center" style="background-color:#ccccff;"><%= check_box_tag "error_id[]", "#{im.id}", checktf, class: "chkbox" %></td>
                    <td><%= im.string_key %></td>
                    <td><%= l im.created_at %></td>
                  </tr>
              <% end %>
              </tbody>
              <thead>
                <tr>
                  <th>Scan Page</th>
                  <th>Photo</th>
                  <th>Clip</th>
                  <th>Erreur <input type="checkbox" id="selectAll"></th>
                  <th>String Key</th>
                  <th>Date</th>
                </tr>
              </thead>
            </table>
            <div align="right" style="padding-right:20px;">
              <button id="okbutton" type="submit" class="btn btn-danger btn-md">Valider</button>
            </div>
        <% end %>
        </div>
    </div>
  </div>
</div>

<script>
  $(".zoom").elevateZoom({zoomWindowHeight: 250, zoomWindowWidth:250, borderSize: 0, easing:true});
</script>

<script>
  function put_fin() {
    $('#fin').val('1');
    $('#debut_fin').submit();
  }

  function highlight(tableIndex) {
    // Just a simple check. If .highlight has reached the last, start again
    if( (tableIndex+1) > $('#match_imgs tbody tr').length )
      tableIndex = 0;

    // Element exists?
    if($('#match_imgs tbody tr:eq('+tableIndex+')').length > 0)
    {
      // Remove other highlights
      $('#match_imgs tbody tr').removeClass('act_tr');

      // Highlight your target
      $('#match_imgs tbody tr:eq('+tableIndex+')').addClass('act_tr');
    }
  }

  $('#goto_first').click(function() {
    highlight(0);
    return false;
  });

  $(document).keydown(function (e) {

    switch(e.which)
    {
      case 32:
        e.preventDefault();
        if ($("#match_imgs tbody tr.act_tr input:checkbox")[0].checked === true) {
          $("#match_imgs tbody tr.act_tr input:checkbox")[0].checked = false;
        }
        else {
          $("#match_imgs tbody tr.act_tr input:checkbox")[0].checked = true;
        }
        hightlight($('#match_imgs tbody tr.act_tr').index());
        break;
      case 38:
        highlight($('#match_imgs tbody tr.act_tr').index() - 1);
        $('#match_imgs tbody tr.act_tr').goTo();
        break;
      case 40:
        highlight($('#match_imgs tbody tr.act_tr').index() + 1);
        $('#match_imgs tbody tr.act_tr').goTo();
        break;
    }

  });

  $('td.err').click(function (event) {
    if (!$(event.target).is('input')) {
      $('input:checkbox', this).prop('checked', function (i, value) {
        return !value;
      });
    }
  });

  $('#selectAll').click(function() {
    $('.chkbox:checkbox').each( function() {
      $(this).prop('checked', 0);
    });
    if (this.checked) {
      $('.chkbox:checkbox').each( function() {
        $(this).prop('checked', 1);
      });
    }
  });

  $.fn.shiftClick = function () {
    var lastSelected;
    var checkBoxes = $(this);
    this.each(function () {
      $(this).click(function (ev) {
        if (ev.shiftKey) {
          var last = checkBoxes.index(lastSelected);
          var first = checkBoxes.index(this);
          var start = Math.min(first, last);
          var end = Math.max(first, last);
          var chk = lastSelected.checked;
          for (var i = start; i <= end; i++) {
            checkBoxes[i].checked = chk;
          }
        }
        else {
          lastSelected = this;
        }
      })
    });
  };
  $('.chkbox').shiftClick();
</script>
