<%= form_tag '/scanned_pages', name: "valid_clips", onSubmit: 'return validateform();' do |f| %>
    <%= hidden_field_tag "page_id", @page.id %>
    <div class="col-md-9" id="depose" style="max-width:900px;height:140px; padding: 0.5em; float: left; margin: 10px; border-style: solid;overflow-x: auto; overflow-y: auto; white-space: nowrap;">
      <% @clips.each do |c| %>
          <div id="sel_<%= c.id %>" style="float: left;display: none;">
            <%= image_tag(image_clip_path(c.id), width: "120px", onClick: "javascript:hish(#{c.id});") %>
            <%= hidden_field_tag "img_#{c.id}", 0 %>
            <%= link_to constantin_path(id: c.id),{ remote: true } do %>
                <span class="glyphicon glyphicon-plus"></span>
            <%end%>
          </div>
      <% end %>

    </div>
    <div class="col-md-3">
      <br>
      <%= submit_tag "Valider", class: "btn btn-primary", style: 'float:left' %>
      <br>
      <br>
      <%= button_tag "Pas de clip", name: nil, class: 'btn btn-default', style: 'float:left' %>
      <br><br />
      <p>Nbre de clips : <strong><%= @clips.count %></strong></p>
      <p>Nbre de clips sélectionnés : <%= number_field_tag 'nb_sel', 0, disabled: true %></p>
    </div>
<% end %>
